<h2>Eventos Fullstack Goiás</h2>
<hr>
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input type="text"
    class="form-control mr-2"
    placeholder="buscar"
    [(ngModel)]="filtroLista">
  </div>
</div>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th >
        <button
          (click)="mostrarImagem = !mostrarImagem"
          class="btn btn-outline-light btn-sm">
          <i class="{{mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}} "></i>
          {{mostrarImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td >
        <div [collapse]="mostrarImagem" [isAnimated]="true">
          <img src="/assets/{{evento.imagemURL}}" alt=""
          [style.width.px]="widthImg"
          [style.margin.px]="marginImg"
          >
        </div>
      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimePipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lotes[0].nome}}</td>
      <td>
        <div class="btn-group">
          <button class="btn btn-primary btn-sm" tooltip="Editar">
            <i class="fa fa-edit"></i>
            <!-- Editar --></button>
          <button class="btn btn-danger btn-sm" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
            <!-- Excluir --></button>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
<!-- <div *ngFor="let evento of eventos">
  <p><b>Tema:</b> {{evento.tema}}</p>
  <p><b>Local:</b> {{evento.local}}</p>
  <hr>
</div>
 -->

 <ng-template #template>
  <div class="modal-body text-center">
    <p>Confirma a exclusão deste evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
